.movie-list {
    list-style: none;
    width: 48%;
    background-color: gray;
    border-radius: 8px;
    &__item {
        padding: 15px;
      &:hover {
          cursor: pointer;
      }  
    }
    &__item:not(:last-child) {
        padding: 15px;
        border-bottom: 1px solid black;
    }
    &__indicator {
        display: inline-block;
        margin-right: 10px;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: black;
        &--correct {
            background-color: green;
        }
        &--incorrect {
            background-color: red;
        }
    }
    &__film-name {
        color: #fff;
        font-weight: 700;
    }
}